#intro {
    height: 100vh;
}

.intro_inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 16px;
}

.intro_title {
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    white-space: nowrap;
    text-indent: -0.5vw;
    letter-spacing: -0.3vw;
}

.intro_text {
    width: 100%;
    height: 40vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.intro_text .text {
    font-size: 2vw;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline; 
    text-align: center;
    position: relative;
    z-index: 100;
    transition: all 0.3s;
    cursor: all-scroll;
    animation: textAni 1s forwards;
}

.intro_text .text div:nth-child(2) {
    margin: 10px 0;
}

@keyframes textAni {
    0% {
        letter-spacing: 20px;
    }

    100% {
        letter-spacing: -2px;
    }
}

.intro_text .img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.intro_text:hover .text {
    opacity: 0;
}

.intro_text:hover .img {
    filter: grayscale(0);
}

.intro_lines {
    width: 100%;
}

.intro_lines .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    margin-bottom: 0.5vw;
}

.intro_lines.bottom .line {
    margin-top: 0.5vw;
    margin-bottom: 0;
    display: none;
}

.intro_lines .line:nth-child(1) {
    height: 1px;
}

.intro_lines .line:nth-child(2) {
    height: 2px;
}

.intro_lines .line:nth-child(3) {
    height: 5px;
}

.intro_lines .line:nth-child(4) {
    height: 9px;
}

.intro_lines .line:nth-child(5) {
    height: 13px;
}

.intro_lines .line:nth-child(6) {
    height: 17px;
}

.intro_lines .line:nth-child(7) {
    height: 25px;
}

.intro_lines.bottom .line:nth-child(1) {
    height: 25px;
}

.intro_lines.bottom .line:nth-child(2) {
    height: 17px;
}

.intro_lines.bottom .line:nth-child(3) {
    height: 13px;
}

.intro_lines.bottom .line:nth-child(4) {
    height: 9px;
}

.intro_lines.bottom .line:nth-child(5) {
    height: 5px;
}

.intro_lines.bottom .line:nth-child(6) {
    height: 2px;
}

.intro_lines.bottom .line:nth-child(7) {
    height: 1px;
}

@media (max-width: 800px) {
    .intro_inner {
        justify-content: center;
    }

    .intro_lines.bottom .line {
        display: block;
    }

    .intro_text .text {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .intro_inner {
        align-items: center;
    }
    .intro_title {
        display: none;
    }
}