.skill_inner {
    padding: 16px;
    /* display: flex;
    justify-content: space-between; */
}

.skill_title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 100%;
    font-size: 4vw;
    height: 5vw;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black100);
    border-bottom: 0.4vw solid var(--black100);
    background-color: var(--mainBg-color);
    z-index: 2;
}

.skill_title em {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2;
}

.skill_desc {
    width: 100%;
    margin: 0 auto;
    padding: 10rem 1rem;
}

.skill_desc div h3 {
    flex: 15% 0 0;
}

.skill_desc div .prograss {
    margin: 5rem 0;
    flex: 85% 0 0;
    border: 1px solid #ccc;
    height: 30px;
}

.skill_desc div .prograss .prograss_bar {
    width: 80%;
    background-color: var(--black100);
    height: 100%;
}

.skill_desc span {
    font-size: 5vw;
    line-height: 1;
    font-weight: 900;
    font-family: var(--mainNum-font);
    line-height: 1.3;
}

.skill_desc h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    text-underline-position: under;
}

.skill_desc p {
    margin-bottom: 30vh;
    font-size: 1.1rem;
    word-break: keep-all;
}

@media (max-width: 800px) {
    .skill_inner {
        flex-direction: column;
    }

    .skill_title {
        width: 100%;
        margin-bottom: 10vw;
        font-size: 30px;
        height: auto;
        background-color: var(--mainBg-color);
        top: 68px;
    }

    .skill-desc {
        width: 100%;
    }

    .skill_desc span {
        font-size: 20vw;
    }
}