#port {
    width: 100%;
    margin-top: 30vh;
    overflow: hidden;
}

.port_inner {
    padding: 16px;

    .port_title {
        width: 100%;
        font-size: 4vw;
        height: 5vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black100);
        border-bottom: 0.4vw solid var(--black100);
        margin-bottom: 16px;
        text-indent: -0.25vw;

        @media (max-width: 800px) {
                width: 100%;
                margin-bottom: 16px;
                font-size: 30px;
                height: auto;
                top: 68px;
                z-index: 1000;
                background-color: var(--mainBg-color);
        }

        em {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2;
        }
    }

    .port_wrap {
        display: flex;
        flex-wrap: wrap;
        width: 7000px;

        .port_item {
            width: 500px;
            /* height: 70vh; */
            background-color: var(--subBg100);
            padding: 2.5rem;
            margin-right: 20px;
            overflow-y: auto;

            @media (max-width: 800px) {
                width: 400px;
                padding: 40px 30px;
                height: auto;
            }

            &.p1 {
                background-color: var(--subBg100);
            }
            &.p2 {
                background-color: var(--subBg200);
            }
            &.p3 {
                background-color: var(--subBg300);
            }
            &.p4 {
                background-color: var(--subBg400);
            }
            &.p5 {
                background-color: var(--subBg500);
            }
            &.p6 {
                background-color: var(--subBg100);
            }
            &.p7 {
                background-color: var(--subBg200);
            }
            &.p8 {
                background-color: var(--subBg300);
            }
            &.p9 {
                background-color: var(--subBg400);
            }
            &.p10 {
                background-color: var(--subBg500);
            }

            .num {
                font-size: 2rem;
                font-family: var(--mainNum-font);
            }

            .img {
                display: block;
                margin-top: -20px;
                transition: margin-top 0.3s;

                img {
                    border-radius: 5px;
                    filter: saturate(0%);
                    transition: all 0.3s;
                }

                &:hover img {
                    filter: saturate(100%);
                }
            }

            &:hover .img {
                margin-top: 0;
            }

            .title {
                font-size: 1.5rem;
                text-align: center;
                padding: 0.8rem 0;
                font-weight: 700;
                color: var(--black100);
                border-bottom: 2px solid var(--black100);
                margin-bottom: 1rem;
            }

            .desc {

            }

            .site {
                border: 1px solid var(--black100);
                display: block;
                text-align: center;
                padding: 0.625rem 1.5rem;
                margin-top: 1.5rem;
                transition: all 0.2s;

                &:hover {
                    background-color: var(--black100);
                    color: var(--white);
                }
            }
        }
    }
}